@media (min-width: 640px){
    .hamburgermenu{
        display: none;
        
    }
   a {
        max-width: 30%;
    }
}
@media (max-width: 640px){
    .linemenu{
        display: none;
    }
    img{
        max-width: 100%;
    }
}
