@import "normalize";
@import "uikit.min";
@import "media-queries"
@import "lightgallery";
@import "lg-transitions";


// thumbnails

figure{
}
nav{
    background: #eee;
    height: 200px;
}
[class*=uk-width]{
    width: 30%;
}
.uk-grid{
    margin-left: 0px;
}
body{
    background: #eee;
    background-image: url(../img/black-thread-light.png)
}
.navbutton{
    fill: #6495ED; 
    transition: all 1s;
}
.uk-button:hover .navbutton{
    fill: #EDBC64;
}
.uk-button svg{
    transition: all 1s;
}
.uk-button:hover svg{
    transform: rotate(90deg);
}
.description{
    margin: 10px;
    text-align: justify;
}
//modal styling

.uk-modal-dialog{
    background: #64DAED;
}
.uk-dropdown-nav>li>a{
    color: white;
    transition: all 1s;
}
.uk-dropdown-nav>li>a:hover{
    color: #EDBC64;
}
.uk-close{
    color: white;
    transition: all 1s;
}
.uk-close:hover{
    color: #EDBC64;
}



//end of modal styling
//lightgallery styling
.lg-backdrop{
    background-color: rgba(100,149,237,.45)
}
.lg-toolbar{
    background-color: #EDBC64;
}
.lg-outer .lg-thumb-outer{
    background-color: #EDBC64;
}
#lg-counter{
    color: white;
}
.lg-toolbar .lg-icon{
    color: white;
}
.lg-outer .lg-toogle-thumb{
    background-color: #EDBC64;
    color: cornflowerblue;
}
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover{
    border-color: #6495ED;
}
body:not(.lg-from-hash) .lg-outer.lg-start-zoom .lg-item.lg-complete .lg-object{
    box-shadow: 10px 10px 25px black;
}
//end of lg styling
.uk-dropdown{
    background: #EDBC64;
}
//card styling
.uk-card-default{
    background: #EEE;
    transition: all 1s;
}
.uk-card-default:hover{
    box-shadow: 0 5px 15px #6495ED;
}
//end card styling
.uk-button-default{
    border: none;
}
.uk-card-default .uk-card-title{
    color: #EDBC64;
}
img{
    margin: 0px;
    transition: all 1s;
}
img:hover{
    margin: 5px;
    box-shadow: 0 5px 15px #6495ed;
}
h1{
    color: #red;
}

