@import "normalize";
@import "uikit.min";
@import "lightgallery";
@import "lg-transitions";


// thumbnails

figure{
}
nav{
    background-image: url(../img/black-thread-light.png)
    height: 200px;
}
[class*=uk-width]{
    width: 30%;
}
.uk-grid{
    margin-left: 0px;
}
body{
    background: #eee;
    background-image: url(../img/black-thread-light.png)
}
.navbutton{
    fill: #6495ED; 
}
.uk-button:hover .navbutton{
    fill: #EDBC64;
}

.uk-card-default{
    background: #EEE;
}
.uk-button-default{
    border: none;
}
img{
    margin: 10px;
}
nav h1 .mainheader{
    color: #EDBC64;
    background: black;
}

