@import "normalize";
@import "uikit.min";
@import "lightgallery";
@import "lg-transitions";


// thumbnails

figure{
}
nav{
    background: #eee;
    height: 200px;
}
[class*=uk-width]{
    width: 30%;
}
.uk-grid{
    margin-left: 0px;
}
body{
    background: #eee;
    background-image: url(../img/black-thread-light.png)
}
.navbutton{
    fill: #6495ED; 
}
.uk-button:hover .navbutton{
    fill: #EDBC64;
}
//lightgallery styling
.lg-backdrop{
    background-color: rgba(100,149,237,.45)
}
.lg-toolbar{
    background-color: #EDBC64;
}
.lg-outer .lg-thumb-outer{
    background-color: #EDBC64;
}
#lg-counter{
    color: white;
}
.lg-toolbar .lg-icon{
    color: white;
}
.lg-outer .lg-toogle-thumb{
    background-color: #EDBC64;
    color: cornflowerblue;
}
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover{
    border-color: #6495ED;
}
//end of lg styling
.uk-dropdown{
    background: #EDBC64;
}
.uk-card-default{
    background: #EEE;
}
.uk-button-default{
    border: none;
}
.uk-card-default .uk-card-title{
    color: #EDBC64;
}
img{
    margin: 10px;
}
h1{
    color: #red;
}

